<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head_part.html" %}
    <link rel="stylesheet" href="/static/css/jquery.notifyBar.css">
  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-5">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <!-- <div class="col-lg-6 d-none d-lg-block bg-password-image"></div> -->
                <div class="col-lg-12">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-2">
                        Forgot Your Password?
                      </h1>
                      <p class="mb-4">
                        We get it, stuff happens. Just enter your email address
                        below and we'll send you a link to reset your password!
                      </p>
                    </div>
                    <!-- <form class="user"> -->
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control form-control-user"
                          id="exampleInputEmail"
                          aria-describedby="emailHelp"
                          placeholder="Enter Email Address..."
                        />
                        <span
                          id="emailvalid"
                          class="form-text text-muted invalid-feedback"
                        >
                          Your email must be a valid email
                        </span>
                      </div>
                      <button
                        id="resetpwdBtn"
                        class="btn btn-primary btn-user btn-block"
                      >
                        Reset Password
                      </button>
                    <!-- </form> -->
                    <hr />
                    <div class="text-center">
                      <a class="small" href="register.html"
                        >Create an Account!</a
                      >
                    </div>
                    <div class="text-center">
                      <a class="small" href="login.html"
                        >Already have an account? Login!</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.notifyBar.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    <script>
      $(document).ready(function () {
        // Validate Email
        $("#emailvalid").hide();
        const email = document.getElementById("exampleInputEmail");
        email.addEventListener("blur", () => {
          let regex =
            /^([_\-\.0-9a-zA-Z]+)@([_\-\.0-9a-zA-Z]+)\.([a-zA-Z]){2,7}$/;
          let s = email.value;
          if (regex.test(s)) {
            email.classList.remove("is-invalid");
            $("#emailvalid").hide();
            emailError = true;
          } else {
            email.classList.add("is-invalid");
            emailError = false;
            $("#emailvalid").show();
          }
        });

        $("#resetpwdBtn").click(function () {
            console.log('email:',$("#exampleInputEmail").val());
            $.ajax({
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
              email: $("#exampleInputEmail").val(),
            }, // get the form data
            type: "POST", // GET or POST
            url: "{% url 'password_reset' %}",
            success: function (response) {
              console.log("grps data:", response);
              $.notifyBar({cssClass:'success',html: 'Link '+response.message,close:true,delay:2000});
              if(response.result=="Success!"){
                // location.href="login.html";
                $("#exampleInputEmail").val("");
              }
            },
          });
        });
      });
    </script>
  </body>
</html>
