<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head_part.html" %}
    <link rel="stylesheet" href="/static/css/jquery.notifyBar.css" />
  </head>

  <body id="page-top">
    <!-- {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.<a href="{% url 'logout' %}">Logout</a>
    </p>
    {% else %}
    <p>Welcome, new user. Please log in.</p>
    {% endif %} -->

    <!-- Page Wrapper -->
    <div id="wrapper">
      {% include "sidebar_part.html" %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          {% include "topbar_part.html" %}

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
              <a
                href="#"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                ><i class="fas fa-download fa-sm text-white-50"></i> Generate
                Report</a
              >
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                        >
                          Transactions (Monthly)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          $<span id="monthlyTransaction"></span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-success text-uppercase mb-1"
                        >
                          Transactions (Annual)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          $<span id="annualTransaction">0</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->

            <div class="row">
              <!-- Area Chart -->
              <div class="col-xl-7 col-lg-6">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                  >
                    <h6 class="m-0 font-weight-bold text-primary">
                      Transactions Overview
                    </h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="myChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Pie Chart -->
              <div class="col-xl-5 col-lg-6">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                  >
                    <h6 class="m-0 font-weight-bold text-primary">
                      Group Sources (upto 5)
                    </h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div
                      class="pt-4 pb-2"
                      style="text-align: -webkit-center; height: 320px"
                    >
                      <canvas
                        id="pie-chartcanvas-1"
                        height="300"
                        width="300"
                      ></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Content Column -->

              <div class="col-lg-6 mb-4">
                <!-- Illustrations -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      User Amount Illustrations
                    </h6>
                  </div>
                  <div class="card-body">
                    <canvas id="derp" width="320" height="240"></canvas>
                  </div>
                </div>
                <!-- Approach -->
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Development Approach
                    </h6>
                  </div>
                  <div class="card-body">
                    <p>
                      Splitwise makes extensive use of Bootstrap 4 utility
                      classes in order to reduce CSS bloat and poor page
                      performance. Custom CSS classes are used to create custom
                      components and custom utility classes.
                    </p>
                    <p class="mb-0">
                      Before working with this theme, you should become familiar
                      with the Bootstrap framework, especially the utility
                      classes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        {% include "footer_part.html" %}
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include "modals_and_scripts_part.html" %}

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/js/jquery.notifyBar.js"></script>

    <!-- Page level custom scripts -->
    <!-- <script src="/static/js/demo/chart-area-demo.js"></script> -->
    <!-- <script src="/static/js/demo/chart-pie-demo.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      $(document).ready(function () {
        var groupsTrans$ = { Names: [], Money: [] };
        getTransactions();
        getBarchartData();
        groupsPieData();

        function getTransactions() {
          $.ajax({
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
            }, // get the form data
            type: "POST", // GET or POST
            url: "{% url 'gettransactions' %}",
            success: function (response) {
              console.log("expenses data:", response);
              let transactdata = JSON.parse(response.result);
              console.log("transactdata data:", transactdata);
              var dimensions = { Dates: [], Amounts: [] };
              dimensions.Dates = $.map(transactdata, function (value, index) {
                let d = new Date(value.fields.date);
                let dd = d.getDate();
                let mm = d.getMonth() + 1;
                let yy = d.getFullYear();
                let newdate = yy + "-" + mm + "-" + dd;

                return newdate;
              });
              dimensions.Amounts = $.map(transactdata, function (value, index) {
                return Number(value.fields.amount);
              });

              var total = 0;
              var annualTransaction = 0;
              var monthlyTransaction = 0;

              for (var item in dimensions.Dates) {
                let annd = new Date(dimensions.Dates[item]);
                let annmm = annd.getMonth() + 1;
                if (annmm > 0 && annmm <= 12) {
                  total += dimensions.Amounts[item];
                }
                // console.log("total:", total / 12);
              }
              annualTransaction = Math.floor(total);
              monthlyTransaction = Math.floor(total / 12);

              $("#annualTransaction").text(annualTransaction);
              $("#monthlyTransaction").text(monthlyTransaction);

              console.log("total:", Math.floor(total / 12));

              // added_by

              console.log("dimensions data:", dimensions);

              var newctx = document.getElementById("derp");
              if (newctx != null) {
                const newmyLineChart = new Chart(newctx, {
                  type: "line",
                  data: {
                    labels: dimensions.Dates,
                    datasets: [
                      {
                        label: "User Amount",
                        data: dimensions.Amounts,
                        borderColor: "#1cc88a",
                        backgroundColor: "#36b9cc",
                        fill: true,
                        animations: false, // <-- now plural, instead of "animation" before
                      },
                    ],
                  },
                });
              }
            },
            error: function () {
              // alert("Error occurs!");
              $.notifyBar({
                cssClass: "error",
                html: "Error occurs!",
                close: true,
                delay: 2000,
              });
            },
          });
        }

        function getBarchartData() {
          const ctx = document.getElementById("myChart");
          const MONTHS = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ];

          // getmonthlytransactions
          let month_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
          let chartMonthsData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
          $.ajax({
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
            }, // get the form data
            type: "POST", // GET or POST
            url: "{% url 'getmonthlytransactions' %}",
            success: function (response) {
              console.log("expenses data:", JSON.parse(response.result));
              let monthlyTrans = JSON.parse(response.result);
              monthlyTrans.filter((item, index) => {
                let date = new Date(item.fields.date);
                let month = date.getMonth() + 1;
                let exits = month_list.indexOf(month);
                let insert = Number(item.fields.amount);
                if (month_list.indexOf(month) != -1) {
                  if (chartMonthsData[exits] > 0) {
                    chartMonthsData[exits] = Math.floor(
                      chartMonthsData[exits] + insert
                    );
                  } else {
                    chartMonthsData[exits] = Math.floor(insert);
                  }
                }
              });
              console.log("chartMonthsData", chartMonthsData);

              new Chart(ctx, {
                type: "bar",
                data: {
                  // labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                  labels: MONTHS,
                  datasets: [
                    {
                      label: "Transactions by month",
                      data: chartMonthsData,
                      borderWidth: 1,
                    },
                  ],
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  scales: {
                    y: {
                      beginAtZero: true,
                      max: 10000,
                      ticks: {
                        callback: function (value, index, values) {
                          return "$" + value;
                        },
                      },
                    },
                  },
                },
              });
            },
            error: function () {
              // alert("Error occurs!");
              $.notifyBar({
                cssClass: "error",
                html: "Error occurs!",
                close: true,
                delay: 2000,
              });
            },
          });
        }
        function groupsPieData() {
          $.ajax({
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
            }, // get the form data
            type: "POST", // GET or POST
            url: "{% url 'getgroups' %}",
            success: function (response) {
              let groupstransactdata = response.data;
              console.log("groupstransactdata data:", groupstransactdata);
              groupsTrans$.Names = $.map(
                groupstransactdata,
                function (value, index) {
                  if (index < 5) {
                    return value.name;
                  }
                }
              );
              groupsTrans$.Money = $.map(
                groupstransactdata,
                function (value, index) {
                  if (index < 5) {
                    return Number(value.money_owed);
                  }
                }
              );
              console.log("groupsTrans$", groupsTrans$);

              var options = {
                responsive: true,
                borderColor: "black",
                borderWidth: 1,
                title: {
                  display: true,
                  position: "top",
                  text: "Pie Chart",
                  fontSize: 18,
                  fontColor: "#111",
                },
                legend: {
                  display: true,
                  position: "bottom",
                  labels: {
                    fontColor: "#333",
                    fontSize: 16,
                  },
                },
              };

              const CHART_COLORS = {
                red: "rgb(255, 99, 132)",
                orange: "rgb(255, 159, 64)",
                yellow: "rgb(255, 205, 86)",
                green: "rgb(75, 192, 192)",
                blue: "rgb(54, 162, 235)",
                purple: "#ddd",
                grey: "rgb(201, 203, 207)",
              };

              const NAMED_COLORS = [
                CHART_COLORS.red,
                CHART_COLORS.orange,
                CHART_COLORS.yellow,
                CHART_COLORS.green,
                CHART_COLORS.blue,
                CHART_COLORS.purple,
                CHART_COLORS.grey,
              ];

              var data1 = {
                labels: groupsTrans$.Names,
                datasets: [
                  {
                    label: "Group Money",
                    data: groupsTrans$.Money,
                    backgroundColor: NAMED_COLORS,
                    borderWidth: [1, 1, 1, 1, 1],
                    borderColor: "#36A2EB",
                  },
                ],
              };

              var ctx1 = $("#pie-chartcanvas-1");

              if (ctx1 != null) {
                let chartConfig = {
                  type: "pie",
                  data: data1,
                  options: options,
                };
                chartConfig.data.datasets.forEach((dataset) => {
                  if (dataset.data.every((el) => el === 0)) {
                    // dataset.backgroundColor.push("rgba(255,255,255,0)");
                    dataset.data.push(1);
                  }
                });
                let pieChart = new Chart(ctx1, chartConfig);
              }
            },
            error: function () {
              // alert("Error occurs!");
              $.notifyBar({
                cssClass: "error",
                html: "Error occurs!",
                close: true,
                delay: 2000,
              });
            },
          });
        }
      });
    </script>
  </body>
</html>
