<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head_part.html" %}
  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form class="user" id="registrationForm" method="post">
                  {% csrf_token %}
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        id="exampleFirstName"
                        placeholder="First Name"
                      />
                    </div>
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        id="exampleLastName"
                        placeholder="Last Name"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      id="exampleInputEmail"
                      placeholder="Email Address"
                    />
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="password"
                        class="form-control form-control-user"
                        id="exampleInputPassword"
                        placeholder="Password"
                      />
                    </div>
                    <div class="col-sm-6">
                      <input
                        type="password"
                        class="form-control form-control-user"
                        id="exampleRepeatPassword"
                        placeholder="Repeat Password"
                      />
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary btn-user btn-block"
                  >
                    Register Account
                  </button>
                  <!-- <hr />
                  <a
                    href="index.html"
                    class="btn btn-google btn-user btn-block"
                  >
                    <i class="fab fa-google fa-fw"></i> Register with Google
                  </a>
                  <a
                    href="index.html"
                    class="btn btn-facebook btn-user btn-block"
                  >
                    <i class="fab fa-facebook-f fa-fw"></i> Register with
                    Facebook
                  </a> -->
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" href="forgot-password.html"
                    >Forgot Password?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" href="login.html"
                    >Already have an account? Login!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block javascript %}
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    
    <script>
       checkUserLogin();
      function checkUserLogin(){
          // console.log('not logged in !');
          // $('body').addClass('clickable');
          // $('.clickable').append('<h2>Please login.</h2>')
          // $('#page-top').attr('class','clickable');
          // $(document.body).addClass('clickable');

      }
      $(document).ready(function () {
        // catch the form's submit event
        console.log("documnet ready");
        $("#registrationForm").submit(function () {
          debugger;
          let first_name = $("#exampleFirstName");
          let last_name = $("#exampleLastName");
          let contact_email = $("#exampleInputEmail");
          let password_one = $("#exampleInputPassword");
          let password_two = $("#exampleRepeatPassword");
          // create an AJAX call
          $.ajax({
            data: {
              csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
              email: contact_email.val(),
              username: first_name.val() + last_name.val(),
              first_name: first_name.val(),
              last_name: last_name.val(),
              password: password_one.val(),
            }, // get the form data
            type: $(this).attr("method"), // GET or POST
            url: "{% url 'registartion_form' %}",
            // on success
            success: function (response) {
              console.log("Thankyou for reaching us out " + response);
              let url = "login.html";
              $(location).attr("href", url);
            },
            // on error
            error: function (response) {
              // alert the error if any error occured
              alert(response.responseJSON.errors);
              console.log(response.responseJSON.errors);
            },
          });
          return false;
        });
      });
    </script>
    {% endblock javascript %}
  </body>
</html>
