<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head_part.html" %}
  </head>

  <body class="bg-gradient-primary">
    <div class="container" style="text-align: -webkit-center;">
      <div class="card o-hidden border-0 shadow-lg my-5" style="width: 80%;">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form class="user" id="registrationForm" method="post">
                  {% csrf_token %}
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        id="exampleFirstName"
                        placeholder="First Name"
                      />
                    </div>
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        id="exampleLastName"
                        placeholder="Last Name"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      id="exampleInputEmail"
                      placeholder="Email Address"
                    />
                    <span id="emailvalid" class="form-text
                    text-muted invalid-feedback">
                            Your email must be a valid email
                  </span>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="password"
                        class="form-control form-control-user"
                        id="exampleInputPassword"
                        placeholder="Password"
                      />
                      <span id="passcheck" style="color: red;">
                        **Please Fill the password
                      </span>
                    </div>
                    <div class="col-sm-6">
                      <input
                        type="password"
                        class="form-control form-control-user"
                        id="exampleRepeatPassword"
                        placeholder="Repeat Password"
                      />
                      <span id="conpasscheck" style="color: red;">
                        **Password didn't match
                      </span>

                    </div>
                  </div>
                  <button
                    style="width: 50%;"
                    type="submit"
                    class="btn btn-primary btn-user btn-block"
                  >
                    Register Account
                  </button>
                  <!-- <hr />
                  <a
                    href="index.html"
                    class="btn btn-google btn-user btn-block"
                  >
                    <i class="fab fa-google fa-fw"></i> Register with Google
                  </a>
                  <a
                    href="index.html"
                    class="btn btn-facebook btn-user btn-block"
                  >
                    <i class="fab fa-facebook-f fa-fw"></i> Register with
                    Facebook
                  </a> -->
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" href="forgot-password.html"
                    >Forgot Password?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" href="login.html"
                    >Already have an account? Login!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block javascript %}
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <script>
       checkUserLogin();
      function checkUserLogin(){
          // console.log('not logged in !');
          // $('body').addClass('clickable');
          // $('.clickable').append('<h2>Please login.</h2>')
          // $('#page-top').attr('class','clickable');
          // $(document.body).addClass('clickable');

      }
      $(document).ready(function () {
        // catch the form's submit event
        console.log("documnet ready");

        // Validate Email
        $("#emailvalid").hide();
        const email = document.getElementById("exampleInputEmail");
        email.addEventListener("blur", () => {
          let regex = /^([_\-\.0-9a-zA-Z]+)@([_\-\.0-9a-zA-Z]+)\.([a-zA-Z]){2,7}$/;
          let s = email.value;
          if (regex.test(s)) {
            email.classList.remove("is-invalid");
            $("#emailvalid").hide();
            emailError = true;
          } else {
            email.classList.add("is-invalid");
            emailError = false;
            $("#emailvalid").show();
          }
        });



        $("#passcheck").hide();
        let passwordError = true;
        $("#exampleInputPassword").keyup(function () {
          validatePassword();
        });
        function validatePassword() {
          let passwordValue = $("#exampleInputPassword").val();
          if (passwordValue.length == "") {
            $("#passcheck").show();
            passwordError = false;
            return false;
          }
          if (passwordValue.length < 3 || passwordValue.length > 10) {
            $("#passcheck").show();
            $("#passcheck").html(
              "**length of your password must be between 3 and 10"
            );
            $("#passcheck").css("color", "red");
            passwordError = false;
            return false;
          } else {
            $("#passcheck").hide();
          }
        }

          // Validate Confirm Password
          $("#conpasscheck").hide();
          let confirmPasswordError = true;
          $("#exampleRepeatPassword").keyup(function () {
            validateConfirmPassword();
          });
          function validateConfirmPassword() {
            let confirmPasswordValue = $("#exampleRepeatPassword").val();
            let passwordValue = $("#exampleInputPassword").val();
            if (passwordValue != confirmPasswordValue) {
              $("#conpasscheck").show();
              $("#conpasscheck").html("**Password didn't Match");
              $("#conpasscheck").css("color", "red");
              confirmPasswordError = false;
              return false;
            } else {
              $("#conpasscheck").hide();
            }
          }


        $("#registrationForm").submit(function () {
          debugger;
          let first_name = $("#exampleFirstName");
          let last_name = $("#exampleLastName");
          let contact_email = $("#exampleInputEmail");
          let password_one = $("#exampleInputPassword");
          let password_two = $("#exampleRepeatPassword");
          // create an AJAX call
          $.ajax({
            data: {
              csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
              email: contact_email.val(),
              username: first_name.val() + last_name.val(),
              first_name: first_name.val(),
              last_name: last_name.val(),
              password: password_one.val(),
            }, // get the form data
            type: $(this).attr("method"), // GET or POST
            url: "{% url 'registartion_form' %}",
            // on success
            success: function (response) {
              console.log("Thankyou for reaching us out " + response);
              let url = "login.html";
              $(location).attr("href", url);
            },
            // on error
            error: function (response) {
              // alert the error if any error occured
              alert(response.responseJSON.errors);
              console.log(response.responseJSON.errors);
            },
          });
          return false;
        });
      });
    </script>
    {% endblock javascript %}
  </body>
</html>
